@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Parqueadero</h1>
    <p>Bienvenidos al sistema de Parqueadero del Grupo B @*<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.*@</p>
</div>
