@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica de Datos";
}
<h1>@ViewData["Title"]</h1>

<p>Se prohibe la venta o reproducccion total o parcial de este sistema sin previa autorización de los desarrolladores, este sistema se ha desarrollado con fines lúdicos,
    todos los derechos se encuentran reservados, cualquier violación será sancionada como lo estipula la ley.</p>
    <img src="https://thumbs.dreamstime.com/b/sello-redondo-del-grunge-rojo-con-derechos-de-autor-87660172.jpg">
