@page
@model ParqueaderoGrupoB.App.Frontend.Pages.ListModel
@{
}
<h1>Ingresar Datos Clientes</h1>
<table class="table">
    @foreach (var datos_clientes in Model.ListaClientes)
    {
        <tr>
            <td>@datos_clientes</td> @*En esta linea está la tabla de datos de los clientes*@
        </tr>
    }
</table>