@page
@model ParqueaderoGrupoB.App.Frontend.Pages.SistemaClientesModel
@{
}
<body>
    <h2>Registro de Clientes</h2>
<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname">
  <input type="submit" value="Submit">
</form>
</body>

